@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 33 70% 95%;
    --foreground: 28 52% 20%;
    --card: 0 0% 100%;
    --card-foreground: 28 52% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 28 52% 20%;
    --primary: 24 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 52% 58%;
    --secondary-foreground: 0 0% 100%;
    --muted: 33 70% 90%;
    --muted-foreground: 28 52% 40%;
    --accent: 14 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 33 70% 85%;
    --input: 33 70% 85%;
    --ring: 24 100% 60%;
    --farcaster: 261 53% 61%;
  }

  .dark {
    --background: 28 52% 11%;
    --foreground: 33 70% 64%;
    --card: 24 36% 16%;
    --card-foreground: 33 70% 64%;
    --popover: 24 36% 16%;
    --popover-foreground: 33 70% 64%;
    --primary: 24 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 52% 24%;
    --secondary-foreground: 33 70% 64%;
    --muted: 28 52% 16%;
    --muted-foreground: 33 70% 54%;
    --accent: 14 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 28 52% 24%;
    --input: 28 52% 24%;
    --ring: 24 100% 60%;
    --farcaster: 261 53% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.m1xn8b2e > span {
  color: hsl(var(--foreground)) !important;
}